* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 


body {
 
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-image: url('../../assets/images/Background\ image\ big.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

}
  
nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00CED1;
  height:10vh;
  margin: 1vh;

}
  
.logo  {
  width: 2%;
  padding: 1%;
  height: 2%;
}
  
.bottom {
  background-color: black;
  font-size: 1em; 
  border: none;
  margin: 0 1vh;
  height: 2vh;
  width: auto;
  
}

.bottom a {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
}
  
.bottom a:hover {
  
  color:#00CED1;
  
}
  
.container-profiles {
  width: 50%; 
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.img-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
     
    }
    
.profile {
  flex: 0 0 auto; /* Evita que las cajas se hagan más pequeñas que su contenido */
  max-width: 200px; /* Ancho máximo del contenedor */    margin: 1em;
  text-align: center;
  background-color: rgba(237, 142, 47, 0.717);
  padding: 2%;
  border-radius: 10px;
  
}
    
/*Footer*/

footer {
        
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #00CED1;
  
  font-size: 1em;
  padding: 1em ;
  border: none;
  
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 1rem;
  padding-bottom: 1em;
}

footer img {
  width: 2rem;
  height: 2rem;
}

.links a:hover {
  transform: rotate3d(1, 0, 0, 20deg);
  
}


.rrss, .links {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.rrss a , .links a {
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 1rem;
  padding-bottom: 1em;
}

.rrss img {
  width: 2rem;
  height: 2rem;
}

.rrss a:hover {
  transform: scale(1.5);
  
}

.links a:hover {
  transform: scale(0.9);
  
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .rrss,
  .links {
      flex-direction: column;
      align-items: center;
  }

  .rrss a {
      margin: 5px 0;
  }
}