* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 


body {
 
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-image: url('../../assets/images/Background\ image\ big.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
  
nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00CED1;
  height:fit-content;

}

nav a {
  text-decoration: none;
}
  
.logo {
  width: 12vw;
  padding: 1em;
}

.nav_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}
  
.bottom {
  background:linear-gradient(
    200deg,
    rgb(220, 177, 255), 
    rgb(0, 206, 209), 
    rgb(220, 177, 255));
  font-size: 1em; 
  padding: 1em ;
  border: none;
  border-radius: 1.5em; 
  cursor:pointer;
  margin: 0 0.5em; 
  
}
  
.bottom:hover {
  background-color: rgb(220, 177, 255);
  
}
  

.bottom:active {
  transform: scale(0.90);

}

    /*-------------FORM--------------*/
  .container {
    display: flex;
    justify-content: center;
    color:#fff;
    align-items: center;
    min-height: 100vh;
    background: rgba(249, 248, 246, 0.23);
    margin: 6.5rem 7.5rem 7.5rem;
    flex-direction: column;
  }
  .titulo {
    font-size: 3rem;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
  }
  .container-formulario {
    width: 80%;
    border-radius: 10px; 
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20%;
    margin-right: 10%;
  }
  
  label {
    margin-bottom: 8px;
    font-size: 24px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
    height: 2rem;
  }
  input:hover {
    background-color: #CEA8FF
  }
  
  .btn-send {
    padding: 12px;
    background-color: #EFAB26;
    color: #fff;
    border-radius: 150px;
    cursor: pointer;
    text-align:center;
  }
  
  .btn-send:hover {
    background-color: #efc97c;
  }
  
  #respuesta {
    margin-top: 20px;
    color: red;
    text-align: center;
  }

  .checkbox-form {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-size: 16px;
  }


  /*Footer*/

footer {
        
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #00CED1;
  background:linear-gradient(
    200deg,
    rgb(113, 16, 193), 
    rgb(0, 206, 209), 
    rgb(135, 60, 196));
  font-size: 1em;
  padding: 1em ;
  border: none;
  
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 1rem;
  padding-bottom: 1em;
}

footer img {
  width: 2rem;
  height: 2rem;
}

.links a:hover {
  transform: rotate3d(1, 0, 0, 20deg);
  
}


.rrss, .links {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.rrss a , .links a {
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 1rem;
  padding-bottom: 1em;
}

.rrss img {
  width: 2rem;
  height: 2rem;
}

.rrss a:hover {
  transform: scale(1.5);
  
}

.links a:hover {
  transform: scale(0.9);
  
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .rrss,
  .links {
      flex-direction: column;
      align-items: center;
  }

  .rrss a {
      margin: 5px 0;
  }
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
    .redes-sociales,
    .texto-enlaces {
        flex-direction: column;
        align-items: center;
    }

    .redes-sociales a {
        margin: 5px 0;
    }
}