* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 


body {
 
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-image: url('../../assets/images/Background\ image\ big.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-wrap: wrap;
  
}
  
nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw ;
  border-bottom: 2px solid #00CED1;
  height:10vh;
  margin: 1vh;

}
  
.logo  {
  width: 2%;
  height: 2%;
  margin-top: -85px;
 
}

.bottom-logo {
  border:none;
  background-color: black;
  
}
  
.bottom {
  background-color: black;
  font-size: 1em; 
  border: none;
  margin: 0 1vh;
  height: 2vh;
  width: auto;
  
  
}

.bottom a {
  text-decoration: none;
  color: #FFFFFf;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
}
  
.bottom a:hover {
  color:#00CED1;
  
}

/*faltan estiños body*/







/*Footer*/


footer {
  width:100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #00CED1;
  font-size: 1em;
  padding: 1em ;
  border: none;
  
}

footer a {
  
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 1rem;
  padding-bottom: 1em;
  
}


footer img {
  
  width: 2rem;
  height: 2rem;

}

.rrss, .links {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.rrss a , .links a {
  margin-right: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 1rem;
  padding-bottom: 1em;
}

.rrss a:hover {
  transform: scale(1.5);
  
}

.links a:hover {
  transform: scale(0.9);
  
}



/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .rrss,
  .links {
      flex-direction: column;
      align-items: center;
  }

  .rrss a {
      margin: 5px 0;
  }
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
    .redes-sociales,
    .texto-enlaces {
        flex-direction: column;
        align-items: center;
    }

    .redes-sociales a {
        margin: 5px 0;
    }
}